@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text: 255 255 255;
    --color-background: 36 36 36;

    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply font-sans;
    @apply text-[color:rgba(var(--color-text),0.87)];
    @apply bg-[color:rgb(var(--color-background))];
  }
}
